discord
aiosqlite
aiofiles
aiohttp
animec
asyncpg
Async-OAuthlib
async-timeout
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
dnspython==2.3.0
easy_pil
Flask
googletrans==3.1.0a0
giphy-client==1.0.0
h2
hpack
httpcore
httpx
h1
Hypercorn
hyperframe
idna
jokeapi
motor
multidict
oauthlib
openai
pafy
Pillow
psutil
pycparser
pymongo
pytube
python_aternos
PyNaCl
qrcode
requests
urllib3
wikipedia
wavelink
yarl
youtube-dl